doctype html
html
    head
        meta(http-equiv='Content-Type', content='text/html; charset=UTF-8')
        title Форма регистрации
        style.
            .container { margin: 15px; }



    body.container
        h3 Форма регистрации 
        form(action="/register" method="post")
            input(type="text", placeholder="email", name="email", class="container")
            br
            input(type="text", placeholder="displayName", name="displayName", class="container")
            br
            input(type="password", placeholder="password", name="password", class="container")
            br
            input(type="submit", value="registry", class="container")