doctype html
html
    head
        meta(http-equiv='Content-Type', content='text/html; charset=UTF-8')
        title Чат
        style.
            .container { margin: 15px; }



    body.container
        h3 Чат
        form(action="/chat" method="post" name="publish")
            input(type="text", placeholder="message", name="message", class="container")
            br
            input(type="submit", value="send", class="container")
        div#message(class="container")
        
        script
            include client_chat.js